<section>
    <ngx-charts-line-chart
    [view]="[900, 400]"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [animations]="true"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="'Date'"
    [yAxisLabel]="'Values'"
    [timeline]="true"
    [results]="chartData"
    [timeline]="true"
  >

  </ngx-charts-line-chart>
  <div class="button-container">
    <button *ngFor="let sensor of sensors" (click)="selectSensor(sensor.id)">{{ sensor.name }}</button>
  </div>
  <button (click)="getAverage()">Ver Promedio</button>
</section>